@import "../../../styles/abstract/variable";

.wrapper-top {
  padding: 15em 0 1em;
}

.date {
  font-size: 1.125em; // 18px ÷ 16px
  display: block;
  margin-bottom: 1em;
}

.wrapper-right {
  @media #{$ipadL} {
    margin-top: 10em;
  }
}

.main-figure {
  position: relative;
  height: 0;
  margin-bottom: 2em;
  padding-bottom: 47.7551%;
  overflow: hidden;
  @media #{$ipadL} {
    margin-bottom: 4.375em; // 70px ÷ 16px
    margin-top: 4.375em; // 70px ÷ 16px
  }
}

.center-description {
  text-align: center;
  margin: 0 auto 4.375em; // 70px ÷ 16px
  max-width: 58.125em;
  @media #{$ipad} {
    margin: 0 auto 2.375em;
  }
}
