@import "../../../styles/abstract/variable";

.main-wrapper {
  position: fixed;
  background: var(--color-offwhitecol);
  inset: 0;
  height: 100vh;
  overflow-y: auto;
  transition: var(--transition-slow);
  transform: translateX(100vw); // Default hidden state
  z-index: 9999999;

  &.active {
    transform: translateX(0); // Visible when active
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 8%;
  height: 100%;
  // @media #{$tab} {
  // }
}

.tab-wrapper {
  margin-bottom: 5em; // 80px / 16px = 5em
  position: relative;
  @media #{$ipad} {
    margin-bottom: 2em;
  }

  ul {
    display: flex;
    gap: 3.75em; // 60px / 16px = 3.75em
    justify-content: center;
    margin-top: 3em;
    position: relative;
    @media #{$ipad} {
      margin-top: 2em;
    }
  }

  li {
    font-size: 1.125em; // 18px / 16px = 1.125em
    cursor: pointer;
    // &.active {
    //   font-weight: 600;
    // }
  }

  .tab-indicator {
    position: absolute;
    height: 2px;
    background-color: var(--color-primarycol);
    bottom: 0.5em;
    transition: all 0.3s ease;
    /* Dynamic width will be set via JavaScript */
  }
}

.back-btn-wrapper {
  position: absolute;
  top: 7%;
  left: 3.9%;
  @media #{$mineTab} {
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    top: 5%;
  }
}

.button-wrapper {
  margin-top: 1em;
}

.form-wrapper {
  height: 30.25em;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 1.2em;
}
