// Text color utilities
.primary-color {
    color: var(--color-primarycol);
}

.secondary-color {
    color: var(--color-secondarycol);
}

.gray-color {
    color: var(--color-graycol);
}

.gray2-color {
    color: var(--color-graycol2);
}

.white-color {
    color: var(--color-whitecol);
}

.black-color {
    color: var(--color-blackcol);
}

.danger-color {
    color: var(--color-dangercol);
}

.success-color {
    color: var(--color-successcol);
}


.orange-color {
    color: var(--color-orangecol);
}

.amber-color {
    color: var(--color-ambercol);
}

.offwhite-color {
    color: var(--color-offwhitecol);
}



// Background color utilities
.primary-color-bg {
    background-color: var(--color-primarycol);
}

.secondary-color-bg {
    background-color: var(--color-secondarycol);
}

.gray-color-bg {
    background-color: var(--color-graycol);
}

.gray-color-bg-40 {
    background-color: rgba($color: #bebebe, $alpha: 0.4);
}



.gray2-color-bg {
    background-color: var(--color-graycol2);
}

.white-color-bg {
    background-color: var(--color-whitecol);
}

.black-color-bg {
    background-color: var(--color-blackcol);
}

.danger-color-bg {
    background-color: var(--color-dangercol);
}

.success-color-bg {
    background-color: var(--color-successcol);
}

.orange-color-bg {
    background-color: var(--color-orangecol);
}

.amber-color-bg {
    background-color: var(--color-ambercol);
}

.offwhite-color-bg {
    background-color: var(--color-offwhitecol);
}


.error {
    color: var(--color-dangercol);
}