body {
  font-weight: 400;
  color: var(--color-primarycol);
}

button {
  border: none;
  outline: none;
}

.container-fluid {
  max-width: 100%;
  padding: 0;

  @media #{$ipad} {
    padding: 0 5em;
  }

  @media #{$ipad} {
    padding: 0 3em;
  }

  @media #{$mob} {
    padding: 0 2em;
  }
}

.container-s {
  width: 100%;
  padding: 0 3.9%;

  @media #{$ipad} {
    padding: 0 3em;
  }

  @media #{$mob} {
    padding: 0 2em;
  }
}

.container {
  width: 100%;
  padding: 0 11.5%; // 222px

  @media #{$ipadpro} {
    padding: 0 5em;
  }

  @media #{$ipad} {
    padding: 0 3em;
  }

  @media #{$mob} {
    padding: 0 2em;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  padding: 0 0.9375em;
  z-index: 2;
}

.text-uppercase {
  text-transform: uppercase;
}

.sec__wrapper {
  flex-direction: column;
}

.section {
  position: relative;
  padding: 2em 0;

  &.sm {
    padding: 2em 0;
  }

  @media #{$tab} {
    padding: 3em 0;
  }

  @media #{$desktop} {
    padding: 4.375em 0;
  }
}

.section-my {
  position: relative;
  margin: 2em 0;

  &.sm {
    margin: 2em 0;
  }

  @media #{$tab} {
    margin: 3em 0;
  }

  @media #{$desktop} {
    margin: 4.375em 0;
  }
}

*::-webkit-scrollbar {
  width: 0.3125em;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba($color: var(--rgb-primarycol), $alpha: 0.3);
  border-radius: 0.625em;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba($color: var(--rgb-primarycol), $alpha: 0.5);
}

*::-webkit-scrollbar-track {
  background: rgba($color: var(--rgb-primarycol), $alpha: 0.3);
}

.element-lg-left-zero {
  @media #{$ipadL} {
    margin-left: -5em;
  }

  @media #{$desktop} {
    margin-left: -4.6875em;
  }
}

.element-lg-right-zero {
  @media #{$ipadL} {
    margin-right: -5em;
  }

  @media #{$desktop} {
    margin-right: -4.6875em;
  }
}

.text-editor {
  p {
    font-weight: 200;
  }
}

/* Hide original checkbox but keep it accessible */
.custom-checkbox {
  font-size: 1.125em;
  font-weight: 200;
  position: relative;
  padding-left: 1.666666em;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      background-color: var(--color-secondarycol);
      border-color: var(--color-secondarycol);

      &:after {
        display: block;
      }
    }

    &:focus ~ .checkmark {
      box-shadow: 0 0 0 3px var(--color-graycol2);
    }
  }

  .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: transparent;
    border: 2px solid var(--color-graycol);
    border-radius: 0;
    transition: all 0.2s ease;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 55%;
      top: 30%;
      width: 5px;
      height: 10px;
      border: solid var(--color-whitecol);
      border-width: 0 2px 2px 0;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}




.custom-radio {
  font-size: 1.125em;
  position: relative;
  padding-left: 1.666666em;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .radiomark {
      background-color: transparent;
      border-color: var(--color-secondarycol);

      &:after {
        display: block;
      }
    }

    &:focus ~ .radiomark {
      box-shadow: 0 0 0 3px var(--color-graycol2);
    }
  }

  .radiomark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border: 2px solid var(--color-graycol);
    border-radius: 50%; /* Make it circular for radio buttons */
    transition: all 0.2s ease;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 50%;
      top: 50%;
      width: 8px;
      height: 8px;
      background-color: var(--color-secondarycol);
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

