h1,
.h1 {
  font-size: 3.25em; // 52px
  font-weight: 400;
  margin: 0 0 0.25em 0;
  line-height: 1.2;
  letter-spacing: -1.5px;
  @media #{$ipadpro} {
    font-size: 3em;
    letter-spacing: -0.5px;
  }

  @media #{$ipad} {
    font-size: 2.75em;
  }
}

h2,
.h2 {
  font-size: 2.25em; // 36px
  font-weight: 400;
  margin: 0 0 0.35em 0;
  line-height: 1.2;
  @media #{$ipadpro} {
    font-size: 2.5em;
    letter-spacing: -0.5px;
  }

  @media #{$ipad} {
    font-size: 2em;
  }
}

h3,
.h3 {
  font-size: 1.875em; //30px
  font-weight: 400;
  margin: 0 0 0.5em 0;
  line-height: 1.5;
  @media #{$ipadpro} {
    font-size: 2em;
    letter-spacing: -0.5px;
  }

  @media #{$ipad} {
    font-size: 1.75em;
  }
}

h4,
.h4 {
  font-size: 1.625em; // 26px
  font-weight: 400;
  margin: 0 0 0.6em 0;
  line-height: 1.25;

  @media #{$ipadpro} {
    font-size: 1.5em;
  }

  @media #{$mob} {
    font-size: 1.5em;
  }
}

h5,
.h5 {
  font-size: 1.25em; // 20px
  font-weight: 400;
  margin: 0 0 0.5em 0;
  line-height: 1.25;

  @media #{$ipad} {
    font-size: 1.25em;
  }

  @media #{$mob} {
    font-size: 1.25em;
    letter-spacing: -0.5px;
  }
}

h6,
.h6 {
  font-size: 1.125em; // 18px
  font-weight: 400;
  margin: 0 0 0.75em 0;
  line-height: 1.5;

  @media #{$ipadpro} {
    font-size: 1em;
  }
  &.sm-font {
    font-size: 1em;
  }
}

p,
.p {
  font-size: 1.125em; // 18px
  font-weight: 400;
  margin: 0 0 1.25em 0;
  line-height: 1.25;
  &.lg-font {
    font-size: 1.25em; //20px
  }
  &.sm-font {
    font-size: 1em; //16px
  }

  @media #{$ipadpro} {
    font-size: 1em;
  }

  // @media #{$mob} {
  //   font-size: 1em;
  // }
}
