.chat {
  background-color: var(--color-whitecol);
  width: 3.125em;
  height: 3.125em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 19.625em;
  right: 1.5em;
  z-index: 10;
  box-shadow: 0 0 15px -3px var(--color-graycol);
  cursor: pointer;
  animation: chat 0.5s ease-in-out infinite alternate;
  @keyframes chat {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }

  svg {
    width: 1.25em;
    height: 1.25em;
  }
}
