@import "../../../styles/abstract/variable";
.residenciesTitleWrapper {
  position: relative;
  display: block;
  padding: 7.125em 0 7.5em 0;
  background-color: #fff;
  @media #{$ipadpro} {
    padding: 3em 0;
  }
  @media #{$mob} {
    padding: 2em 0;
  }
}

.residenciesTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 44em;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0 2em;

  h3 {
    margin-bottom: 1.125em;
  }
}

.residenciesSlider {
  position: relative;

  &__slide {
    position: relative;
    width: 100% !important;
    height: 69em !important;
    @media #{$ipadpro} {
      height: 45em !important;
    }
    @media #{$mob} {
      height: 35em !important;
    }
    &:before {
      content: "";
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 64.08%, #000000 102.21%);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .textWrapper {
      position: absolute;
      left: 4.6875em;
      bottom: 7.8125em;
      z-index: 2;
      height: 6.25em;
      width: 27em;
      color: var(--color-whitecol);
      display: flex;
      align-items: flex-end;
      @media #{$ipadpro} {
        left: 3em;
        bottom: 50%;
        transform: translateY(50%);
      }
      @media #{$mob} {
        bottom: 50%;
        transform: translateY(50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
      }
      h2 {
        margin-bottom: 0;
        @media #{$ipad} {
          background-color: rgba($color: #000000, $alpha: 0.4);
          padding: 0.1em 0.2em;
        }
      }
    }
  }

  &__nav {
    position: absolute;
    right: 4.6875em;

    bottom: 7.5em;
    z-index: 2;
    @media #{$ipad} {
      transform: translateX(50%);
      right: 50%;
      bottom: 2.5em;
    }
  }
}
