@import "../app/styles/main.scss";

:root {
  --color-primarycol: #5a7f70;
  --color-whitecol: #ffffff;
  --color-blackcol: #000000;
  --color-blackcol2: #212121;
  
  --color-secondary-rgb-color: 239, 200, 162;
  --color-dangercol: #ef3249;
  --color-successcol: #198754;
}