@import "../app/styles/main.scss";

:root {
  --color-primarycol: #475252;
  --color-secondarycol: #1e1e1e;
  --color-graycol: #bebebe;
  --color-whitecol: #ffffff;
  --color-blackcol: #000000;
  --color-dangercol: #ef3249;
  --color-successcol: #198754;

  --rgb-graycol: 190, 190, 190;
}
