@import "../../../styles/abstract/variable";

.footer {
  padding: 3.5em 0 0;
  background: var(--color-whitecol);

  @media #{$ipadpro} {
    padding: 3em 0 0;
  }

  .logoWrapper {
    display: flex;
    justify-content: center;
    a {
      svg {
        width: 100%;
      }
    }
  }
}

.row {
  justify-content: space-between;

  @media #{$ipad} {
    justify-content: flex-start;
    gap: 2em 0;
  }

  @media #{$mob} {
    gap: 0;
  }
}

.footerWrapper {
  padding: 0 0 8.75em 0;

  @media #{$ipadpro} {
    padding: 0 0 3em 0;
  }

  @media #{$mob} {
    padding: 0 0 2em 0;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    .col {
      @media #{$ipad} {
        flex: 0 0 33.33333%;
        width: 33.33333%;
      }
      @media #{$mob} {
        flex: 0 0 100%;
        width: 100%;
      }
    }
  }
}

.bottomWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--color-graycol);
  padding: 1.8em 0 1em;

  @media #{$ipad} {
    justify-content: center;
    gap: 1em 0;
  }

  @media #{$mob} {
    gap: 1em 0;
    text-align: center;
  }

  .terms {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 2em;
    }

    li {
      margin: 0;
    }
  }

  p {
    color: var(--color-primarycol);
    @media #{$ipad} {
      font-size: 1em;
    }
  }

  a {
    color: var(--color-primarycol);
  }

  .left {
    flex: 0 0 33.33333%;
    @media #{$mob} {
      flex: 0 0 100%;
      width: 100%;
    }

    .logoWrapper {
      max-width: 17.375em;
      @media #{$ipad} {
        max-width: 9.375em;
      }
      @media #{$mob} {
        margin: 0 auto;
      }
    }
  }
  .center {
    flex: 0 0 33.33333%;
    display: flex;
    justify-content: center;
    @media #{$mob} {
      flex: 0 0 100%;
      width: 100%;
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4.0625em;
    flex: 0 0 33.33333%;
    @media #{$mob} {
      flex-direction: column;
      gap: 0.5em;
      @media #{$mob} {
        flex: 0 0 100%;
        width: 100%;
      }
    }
  }
}

.footerCardsWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5em;
  @media #{$ipad} {
    flex-wrap: wrap;
    justify-content: center;
  }
  @media #{$mob} {
    margin-bottom: 0;
  }
  .cardItem {
    position: relative;
    &:not(:first-child) {
      padding-left: 6.25em;
      border-left: 1px solid rgba($color: var(--rgb-primarycol), $alpha: 0.2);
      @media #{$ipadpro} {
        padding-left: 2em;
      }
      @media #{$ipad} {
        padding: 0 1.5em;
      }
      @media #{$mob} {
        padding: 0 0.3em;
      }
    }
    &:nth-child(4) {
      @media #{$tab} and #{$ipad} {
        border-left: none;
      }
    }
    &:nth-child(odd) {
      @media #{$mob} {
        border-left: none;
      }
    }
    @media #{$ipad} {
      width: 33.33%;
      margin-bottom: 2em;
      text-align: center;
    }
    @media #{$mob} {
      width: 50%;
    }
    h3 {
      @media #{$mineTab} {
        line-height: 1;
      }
    }
  }
}

.socialLinks {
  display: flex;
  align-items: center;
  gap: 0.625em;
  &__item {
    width: 2.75em;
    height: 2.75em;
    border-radius: 50%;
    border: 1px solid var(--color-primarycol);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &:hover {
      @media #{$desktop} {
        &::before {
          transform: scale(0.9);
        }
        path {
          fill: var(--color-graycol2);
        }
      }
    }
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: var(--color-secondarycol);
      border-radius: inherit;
      transition: var(--transition-slow);
      transform: scale(0);
    }
    img,
    svg {
      width: auto;
      height: auto;
      max-width: 50%;
      max-height: 50%;
      position: relative;
      z-index: 1;
    }
    path {
      transition: var(--transition-slow);
    }
  }
}
