@import '../../../styles/abstract/variable';

.footer {
    padding: 7.5em 0 0;
    background: var(--color-whitecol);

    @media #{$ipad} {
        padding: 3em 0 0;
    }

    .logoWrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 5em;

        @media #{$mob} {
            margin-bottom: 2em;
        }
    }
}

.row {
    justify-content: space-between;

    @media #{$ipad} {
        justify-content: flex-start;
        gap: 2em 0;
    }

    @media #{$mob} {
        gap: 0;
    }
}

.footerWrapper {
    padding: 0 0 8.75em 0;

    @media #{$ipad} {
        padding: 0 0 3em 0;
    }

    @media #{$mob} {
        padding: 0 0 2em 0;
    }
}

.bottomWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--color-graycol);
    padding: 1em 0;

    @media #{$ipad} {
        justify-content: center;
        gap: 1em 0;
    }

    @media #{$mob} {
        gap: 1em 0;
        text-align: center;
    }

    .terms {
        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 2em;
        }

        li {
            margin: 0;
        }
    }

    p {
        color: var(--color-primarycol);
    }

    a {
        font-size: 1.125em;
        color: var(--color-primarycol);
    }

    .right {
        display: flex;
        align-items: center;
        gap: 4.0625em;
    }
}