.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  height: 14.0625em;
  background: #fff;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    transition: $transitionSlow;
    transition-delay: 1s;
  }
  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3125em 0 0 0;
    transition: $transitionSlow;
    .left-area {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      column-gap: 3.85em;
    }
    .nav-button {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      column-gap: 2.5em;
      cursor: pointer;
      transition: $transitionSlow;
      transition-delay: 1s;
      width: 7.3125em;

      p {
        color: var(--color-primarycol);
        font-size: 1.25em;
        font-weight: 200;
        line-height: normal;
        letter-spacing: 1px;
        margin: 0;
        flex-shrink: 0;
      }

      .menu-icon {
        width: 1.5625em;
        flex-shrink: 0;
      }

      img {
        width: 100%;
      }
    }
    .sticky-logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 1.3125em;
      flex-shrink: 0;
      width: 17.3125em;
      transition: $transitionSlow;
      img {
        width: 100%;
      }
    }
    .langWrapper {
      display: flex;
      align-items: center;
      column-gap: 4em;
      transition: $transitionSlow;
      transition-delay: 1s;
    }
    .lang {
      position: relative;
      width: 6.5em;
    }
    .select {
      all: unset;
      // TODO: all fallback styles
      width: 100%;
      border-bottom: 1px solid var(--color-primarycol);
      padding-bottom: 0.375em;
      font-size: 1.25em;
      font-weight: 200;

      option {
        font-size: 0.75em;
      }
    }
    .arrow-down {
      width: 0.75em;
      height: 0.75em;
      position: absolute;
      bottom: 0.75em;
      right: 0;

      img {
        width: 100%;
      }
    }
    .search {
      width: 1.4375em;
      cursor: pointer;
      img {
        width: 100%;
      }
    }
    &.sticky {
      padding: 0.5625em 0;
      transition: $transitionSlow;
      .logo {
        width: 5.75em;
        transition: $transitionSlow;
      }
      .sticky-logo {
        width: 5.75em;
        transition: $transitionSlow;
        top: 0.5625em;
      }
    }
  }

  .menuOne {
    ul {
      position: absolute;
      bottom: 1.3125em;
      display: flex;
      justify-content: center;
      column-gap: 6.25em;
      left: 50%;
      transform: translateX(-50%);

      .menuOne__item {
        margin: 0;
        a {
          color: var(--color-primarycol);
          font-size: 1.25em;
          font-weight: 200;
          letter-spacing: 1px;
        }
      }
    }
  }
}
