.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  height: 14.0625em;
  background: #fff;
  transition: $transitionSlow;

  // border-bottom: 1px solid rgba($color: #bebebef0, $alpha: 0.94);
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    transition: $transitionSlow;
    transition-delay: 1s;
  }

  @media #{$ipad} {
    height: 7.5em;
  }

  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3125em 0 0 0;
    transition: $transitionSlow;

    .left-area {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      column-gap: 3.85em;
      transition: $transitionSlow;

      @media #{$ipad} {
        position: relative;
        top: 1em;
        column-gap: 1.5em;
      }
    }

    .nav-button {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      column-gap: 2.5em;
      cursor: pointer;
      transition: $transitionSlow;
      transition-delay: 1s;
      width: 7.3125em;

      p {
        color: var(--color-primarycol);
        font-size: 1.25em;
        font-weight: 200;
        line-height: normal;
        letter-spacing: 1px;
        margin: 0;
        flex-shrink: 0;

        @media #{$ipad} {
          display: none;
        }
      }

      .menu-icon {
        width: 1.5625em;
        flex-shrink: 0;
      }

      img {
        width: 100%;
      }

      @media #{$ipad} {
        width: auto;
      }
    }

    .sticky-logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 1.3125em;
      flex-shrink: 0;
      width: 17.3125em;
      transition: $transitionSlow;

      img {
        width: 100%;
      }

      @media #{$ipad} {
        top: 1.75em;
        width: 12.3125em;
      }
    }

    .langWrapper {
      display: flex;
      align-items: center;
      column-gap: 4em;
      transition: $transitionSlow;
      transition-delay: 1s;

      @media #{$ipad} {
        font-size: 9px;
        position: relative;
        top: 1em;
      }
    }

    .lang {
      position: relative;
      width: 6.5em;
    }

    .react-select {
      &__control {
        cursor: pointer;
        width: 100%;
        border: 0;
        color: var(--color-primarycol);
        border-bottom: 1px solid var(--color-primarycol);
        font-size: 1.25em;
        font-weight: 200;
        border-radius: 0;

        &.css-t3ipsp-control {
          box-shadow: none;
        }
      }

      &__single-value {
        margin: 0;
      }

      &__value-container {
        padding: 0;
      }

      &__indicators {
        display: none;
      }

      &__menu {
        width: 8.5em;
        overflow: hidden;
        border-radius: 0;
      }

      &__menu-list {
        padding: 0;
        overflow: hidden;
        border-radius: 0;
      }

      &__option {
        &--is-focused,
        &:active,
        &:hover {
          color: var(--color-blackcol);
          background-color: rgba($color: var(--rgb-primarycol), $alpha: 0.25);
        }
      }

      &__option--is-selected {
        color: var(--color-whitecol);
        background-color: var(--color-primarycol);
      }
    }

    .arrow-down {
      width: 0.75em;
      height: 0.75em;
      position: absolute;
      bottom: 0.75em;
      right: 0;

      img {
        width: 100%;
      }
    }

    .search {
      width: 1.4375em;
      cursor: pointer;

      img {
        width: 100%;
      }
    }

    &.sticky {
      transition: $transitionSlow;

      .sticky-logo {
        width: 9.75em;
        transition: $transitionSlow;
        top: 1.25em;
      }

      .left-area {
        @media #{$ipad} {
          top: 0;
          transition: $transitionSlow;
        }
      }

      .langWrapper {
        @media #{$ipad} {
          transition: $transitionSlow;
          position: relative;
          top: -0.5em;
        }
      }
    }
  }

  &.sticky-header {
    height: 5.75em;
    transition: $transitionSlow;
    border-bottom: 1px solid rgba($color: var(--rgb-graycol), $alpha: 0.5);
    &.detailMenu {
      height: 10em;
    }
  }
  &.detailMenu {
    border-bottom: 1px solid rgba(var(--rgb-graycol), 0.5);
  }

  .extraMenu {
    display: none;

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 6.25em;
      justify-content: center;

      @media #{$mob} {
        gap: 1.5em;
      }
      li {
        margin-bottom: 0;
      }

      a {
        font-size: 1.25em;
        font-weight: 300;
        color: var(--color-primarycol);
      }
    }
  }

  &.detailMenu {
    @media #{$ipad} {
      height: 10em;
    }

    @media #{$mob} {
      height: 11em;
    }

    .extraMenu {
      display: flex;
      justify-content: center;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 1.5em;
    }
  }

  .menuOne {
    ul {
      position: absolute;
      bottom: 1.3125em;
      display: flex;
      justify-content: center;
      column-gap: 6.25em;
      left: 50%;
      transform: translateX(-50%);

      .menuOne__item {
        margin: 0;

        a {
          color: var(--color-primarycol);
          font-size: 1.25em;
          font-weight: 200;
          letter-spacing: 1px;
        }
      }
    }
  }
}
