.slide-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 87.1875em;
  height: 100vh;
  background-color: var(--color-whitecol);
  z-index: 999999;
  border-right: 1px solid rgba($color: #bebebe, $alpha: 0.4);
  transform: translateX(-100%);
  transition: 0.85s;
  &.active {
    transform: translateX(0%);
    transition: 0.85s;
  }

  .col-2 {
    background-color: var();
  }
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999998;
  background: rgba($color: #000000, $alpha: 0.65);
  transition: 0.85s;
  opacity: 0;
  pointer-events: none;
  &.active {
    transition: 0.85s;
    opacity: 1;
    pointer-events: auto;
  }
}

.menu-close-btn {
  width: 2.125em;
  height: 2.125em;
  position: absolute;
  top: 2em;
  right: 3em;
  z-index: 1;
  background: transparent;
  cursor: pointer;
}
