@import "../../../styles/abstract/variable";

.homeBanner {
  display: block;
  position: relative;
  padding-top: 100vh;

  &__video {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($color: #000000, $alpha: 0.25);
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__descripWrapper {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20.625em 0 10.375em 0;
    background-color: var(--color-whitecol);
    width: 100%;
  }
  &__descrip {
    width: 100%;
    max-width: 40em;
    padding: 0 2em;
    margin: 0 auto;
    text-align: center;
  }
  &__badge {
    position: absolute;
    width: 6.4375em;
    top: 11.25em;
    right: 4.6875em;
  }

  &__logoOneSpace {
    padding-top: 100vh;
  }

  &__logo {
    color: var(--color-whitecol);
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: $transition;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 37.875em;
    text-align: center;
    margin: 0 auto;
    @media #{$ipadpro} {
      top: 50%;
    }
    @media #{$ipad} {
      top: 55%;
      padding: 0 2em;
    }
    &.active {
      opacity: 1;
      pointer-events: auto;
      transition: $transition;
      top: 50%;
      @media #{$ipadpro} {
        top: 45%;
      }
      @media #{$ipad} {
        top: 50%;
      }
    }

    .logo {
      width: 22.3125em;
      img {
        width: 100%;
      }
    }
  }

  &__titleOneSpace {
    padding-top: 100vh;
  }

  &__titleOne {
    color: var(--color-whitecol);
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: $transition;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 39.875em;
    text-align: center;
    margin: 0 auto;
    @media #{$ipadpro} {
      top: 50%;
    }
    @media #{$ipad} {
      top: 55%;
      padding: 0 2em;
    }
    &.active {
      opacity: 1;
      pointer-events: auto;
      transition: $transition;
      top: 50%;
      @media #{$ipadpro} {
        top: 45%;
      }
      @media #{$ipad} {
        top: 50%;
      }
    }
    .logo {
      width: 13.5em;
      margin-bottom: 2em;
      img {
        width: 100%;
      }
    }
    .title1 {
      text-transform: uppercase;
    }
  }

  &__titleTwoSpace {
    padding-top: 125vh;
  }

  &__titleTwo {
    position: fixed;
    color: var(--color-whitecol);
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: $transition;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    @media #{$ipadpro} {
      top: 50%;
    }
    @media #{$ipad} {
      top: 55%;
    }
    &.active {
      opacity: 1;
      pointer-events: auto;
      top: 50%;
      transition: $transition;
      @media #{$ipadpro} {
        top: 45%;
      }
      @media #{$ipad} {
        top: 50%;
      }
    }

    .listItemsWrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 7.5em;
      @media #{$ipad} {
        gap: 0;
        width: 100%;
        padding: 0 3em;
      }
      @media #{$mob} {
        gap: 2em 0;
        padding: 0 2em;
      }

      .listItem {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5em;
        border-left: 1px solid rgba($color: #ffffff, $alpha: 0.2);
        padding-left: 1.875em;
        @media #{$mob} {
          padding-left: 0.25em;
        }
        @media #{$ipad} {
          gap: 0;
          width: 33%;
          align-items: center;
        }
        @media #{$mob} {
          width: 50%;
        }
        .title1 {
          font-weight: 400;
          color: var(--color-whitecol);
          margin-bottom: 0;
        }

        .title2 {
          color: var(--color-whitecol);
          font-weight: 300;
          font-size: 1.125em;
        }
      }
    }
  }
}

.socialLinksWrapper {
  position: fixed;
  top: 50%;
  left: 4.6875em;
  transform: translateY(-50%);
  @media #{$ipad} {
    left: 3.9%;
  }
  @media #{$mob} {
    display: none;
  }
}

.stickyAnchor {
  position: fixed;
  right: 4.6875em;
  bottom: 4.6875em;
  z-index: 9999;
  @media #{$ipad} {
    display: none;
  }
}
