@import "../../styles/abstract/variable";

// .customRadio {
//   display: flex;
//   align-items: center;
//   flex-wrap: wrap;
// }

.labelCheckbox {
  margin: 0 0 0 0.3em;
}

.inlineCheckbox {
  display: flex;
  column-gap: 1em;
}


.fullInput {
  margin: 0;
  @media #{$mineTab} {
    width: 100%;
    flex: 0 0 100%;
  }
}