.residencies-slider {
    .swiper-pagination {
        width: 20.25em !important;
        bottom: 7.8125em !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
        z-index: 1 !important;
        top: auto !important;
        background: rgba($color: #bebebe, $alpha: 0.2) !important;

        .swiper-pagination-progressbar-fill {
            background: rgba($color: #d9d9d9, $alpha: 1) !important;
        }
    }
}

.amenities-slider {
    &.swiper {
        padding-bottom: 11.75em;
    }

    .swiper-wrapper {
        .swiper-slide {
            position: relative;
            width: 55.4375em !important;

            &:nth-child(even) {
                width: 32.6875em !important;
            }
        }
    }

    .swiper-pagination {
        width: 20.25em !important;
        bottom: 7.8125em !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
        z-index: 1 !important;
        top: auto !important;
        background: rgba($color: #bebebe, $alpha: 0.2) !important;

        .swiper-pagination-progressbar-fill {
            background: rgba($color: #000000, $alpha: 1) !important;
        }
    }
}

.essentials-slider {
    &.swiper {
        padding-bottom: 11.75em;
    }

    .swiper-wrapper {

        .swiper-slide {
            position: relative;
            width: 63.75em !important;
        }
    }

    .swiper-pagination {
        width: 20.25em !important;
        bottom: 7.8125em !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
        z-index: 1 !important;
        top: auto !important;
        background: rgba($color: #bebebe, $alpha: 0.2) !important;

        .swiper-pagination-progressbar-fill {
            background: rgba($color: #000000, $alpha: 1) !important;
        }
    }
}

.landmark-slider {
    &.swiper {
        padding-bottom: 11.75em;
    }

    .swiper-wrapper {
        .swiper-slide {
            position: relative;
            width: 54.375em !important;
        }
    }

    .swiper-pagination {
        width: 20.25em !important;
        bottom: 7.8125em !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
        z-index: 1 !important;
        top: auto !important;
        background: rgba($color: #bebebe, $alpha: 0.2) !important;

        .swiper-pagination-progressbar-fill {
            background: rgba($color: #000000, $alpha: 1) !important;
        }
    }
}