@import "../../../styles/abstract/variable";

.wrapper {
  padding: 6.6875em 4.4375em 4.4375em 4.4375em;
  background-color: var(--color-whitecol);
  @media #{$ipadpro} {
    padding: 3em 2em;
  }
}

.projectWrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 8.125em 2.5em;

  @media #{$ipadpro} {
    gap: 4em 2em;
  }

  @media #{$mob} {
    gap: 2em;
  }
}

.customProjectCard {
  @media #{$ipadpro} {
    width: calc(50% - 1em) !important;
  }

  @media #{$mob} {
    width: 100% !important;
  }

  &:nth-child(5n + 1) {
    width: 67.625em;

    p {
      max-width: 78% !important;

      @media #{$ipadpro} {
        max-width: 100% !important;
      }
    }
  }

  &:nth-child(5n + 2) {
    width: 40em;

    p {
      max-width: 100% !important;
    }
  }
}

.title {
  text-align: center;
}

.titleWrapper {
  margin-bottom: 6.6875em;
  @media #{$ipadpro} {
    margin-bottom: 2em;
  }
}
