@import "../../../styles/abstract/variable";

.row {
  display: flex;
  flex-wrap: wrap;
  @media #{$tabL} {
    margin: 0 -1em;
  }
  @media #{$desktop} {
    margin: 0 -1.5625em;
  }

  @media #{$mob} {
    row-gap: 2em;
  }
}

.col {
  flex: 0 0 100%;
  width: 100%;
  @media #{$tabL} {
    flex: 0 0 40%;
    width: 40%;
    padding: 0 1em;
  }
  @media #{$desktop} {
    flex: 0 0 37.9%;
    width: 37.9%;
    padding: 0 1.5625em;
  }

  &:first-child {
    @media #{$tabL} {
      flex: 0 0 60%;
      width: 60%;
    }
    @media #{$desktop} {
      flex: 0 0 62.1%;
      width: 62.1%;
    }
  }
}
