@import "../../../styles/abstract/variable";

.ceo-section {
  @media #{$desktop} {
    padding-bottom: 4.25em;
  }
}

.img-wrapper {
  position: relative;
  height: 0;
  padding-bottom: 124.659%;
  overflow: hidden;
  @media #{$desktop} {
    width: 50.4375em;
  }
  @media #{$ipad} {
    margin-bottom: 2em;
  }
}
