@import "../../../../styles/abstract/variable";

.linksHead {
  font-size: 1.625em;
  color: var(--color-primarycol);
  margin: 0 0 1.2em 0;
  display: flex;
  align-items: center;
  gap: 0.5em;
  @media #{$mob} {
    margin: 0 0 0.7em;
    justify-content: space-between;
  }
}

.listWrapper {
  @media #{$tabL} {
    margin-bottom: 2em;
  }
  @media #{$mob} {
    max-height: 0;
    overflow: hidden;
    transition: 1s;
  }

  a {
    font-size: 1.125em;
    color: var(--color-primarycol);
  }

  &.active {
    @media #{$mob} {
      max-height: max-content;
      overflow: hidden;
      transition: 1s;
    }
  }

  > ul {
    height: 22.875em;
    column-count: 2;
    column-fill: auto;
    @media #{$ipad} {
      column-count: 1;
      height: auto;
    }
  }

  .submenuItems {
    margin-top: 1em;
    margin-bottom: 2em;

    li {
      margin-bottom: 0.8em;
    }
    a {
      font-size: 1.125em;
      text-transform: uppercase;
      transition: var(--transition);
      &:hover {
        color: var(--color-secondarycol);
      }
    }
  }
}

.dropdownArrow {
  @media #{$tab} {
    display: none;
  }

  transition: 0.25s;

  &.active {
    transform: rotate(180deg);
    transition: 0.25s;
  }
}
