@import "../../../../styles/abstract/variable";

.linksHead {
  font-size: 1.625em;
  color: var(--color-primarycol);
  margin: 0 0 1.2em 0;
  display: flex;
  align-items: center;
  gap: 0.5em;
  @media #{$mob} {
    margin: 0 0 0.7em;
    justify-content: space-between;
  }
}

.listWrapper {
  @media #{$tabL} {
    margin-bottom: 2em;
  }
  
  // Only apply collapsible behavior on mobile
  @media #{$mob} {
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }

  a {
    font-size: 1.125em;
    color: var(--color-primarycol);
  }

  &.active {
    @media #{$mob} {
      overflow: hidden;
    }
  }

  > ul {
    height: 22.875em;
    column-count: 2;
    column-fill: auto;
    @media #{$ipad} {
      column-count: 1;
      height: auto;
    }
  }

  .submenuItems {
    margin-top: 1em;
    margin-bottom: 2em;

    li {
      margin-bottom: 0.8em;
    }
    a {
      font-size: 1.125em;
      text-transform: uppercase;
      transition: var(--transition);
      &:hover {
        color: var(--color-secondarycol);
      }
    }
  }
}

.dropdownArrow {
  @media #{$tab} {
    display: none;
  }
  
  // Only show on mobile
  display: none;
  @media (max-width: 576px) {
    display: block;
  }

  transition: 0.25s;

  &.active {
    transform: rotate(180deg);
    transition: 0.25s;
  }
}
