.section {
    background: var(--color-whitecol);
    padding: 8.75em 0 0;

    .wrapper {
        max-width: 54.6875em;
        margin: auto;
        padding-bottom: 7.25em;
    }

    .descWrapper {
        margin: 3.125em 0 4.5em;
    }

    .imgContainer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3.75em;

        .imgWrapper {
            width: 14.4375em;
            height: 26.375em;

            img {
                width: 100%;
            }
        }

        .imgWrapper2 {
            width: 26.75em;
            height: 26.375em;

            img {
                width: 100%;
            }
        }
    }

    .stoneWrapper {
        display: flex;
        justify-content: center;

        img {
            width: 50em;
            height: 7.6875em;
        }
    }

    .heading {
        font-size: 2.375em;
        margin-bottom: 1.575em;
    }

    .locationContainer {
        padding: 8.75em 0;
        background: rgba(var(--color-secondary-rgb-color), 0.2);



        .locationWrapper {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            row-gap: 3.125em;
        }

        .titleWrapper {
            max-width: 20%;
            flex: 0 0 20%;
            display: flex;
            align-items: center;
            column-gap: 1.25em;

            .tile {
                max-width: 4.375em;
                flex: 0 0 4.375em;
                height: 4.375em;
                border-radius: 100%;
            }

            .title {
                color: var(--color-primarycol);
                text-transform: uppercase;
                margin-bottom: 1.111em;
                line-height: 1;
            }

            .category {
                color: var(--color-primarycol);
                text-transform: capitalize;
                margin-bottom: 0;
                line-height: 1;
            }

            .lightBlue {
                background: #68CEF6;
            }

            .green {
                background: #72B37C;

            }

            .yellow {
                background: #EDE9AB;

            }

            .blue {
                background: #647CB5;

            }

            .brown {
                background: #C9835C;

            }

            .orange {
                background: #E7927A;

            }

            .pink {
                background: #F0CEDD;

            }

            .purple {
                background: #947AB6;

            }

            .red {
                background: #B70000;

            }
        }
    }

    .systemAllow {
        padding: 8.75em 0 7.25em;
        width: 66.875em;
        margin: auto;

        .heading {
            margin-bottom: 1.315em;
        }

        .textWrapper {
            display: flex;
            flex-wrap: wrap;
            column-gap: 3.75em;
            list-style: disc;
            row-gap: 3.125em;
            justify-content: center;

            .item {
                // width: 18.75em;
                max-width: 28%;
                flex: 0 0 28%;
                font-size: 1.125em;
                font-weight: 300;
                margin-bottom: 0;
                line-height: 1;
            }
        }
    }

    .fullImg {
        position: relative;
        width: 100vw;
        height: 100vh;
    }
}